.search{
    margin-left: 20px;
    margin-top: 40px;
    width:205px;
}

.side{
  margin-left: 160px;  
}

.icons{
    margin-top: 20px;
    margin-left: -9%;
    visibility: hidden;
}

.mat-card:hover{
    .icons{
        visibility: visible;
    }
}

.textarea1:empty:before{
    content: attr(data-text);
    opacity: 0.5;
    font-size:14px;
    width:60%;
    height:10%
}