<div class="addnote">

  <div>

    <form>
      <div data-text="Take a Note" class="textarea1">


        <input matInput placeholder="Edit Title" [formControl]="title">

      </div>
      <br>
      <div data-text="Take a Note" contenteditable="true" class="textarea1">
        <input matInput placeholder="Edit Description" [formControl]="description">
      </div>
      <br>
      <div>
        <button class=close mat-button (click)="onClose()" fxLayoutAlign="start center">
          <mat-icon> close</mat-icon>
          Close
        </button>
        <app-icon></app-icon>
      </div>
    </form>


  </div>
</div>

<!-- <h1 mat-dialog-title>Hi ABC</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div> -->