<div fxLayout="row" fxFlex="100" >
    <div fxLayout="row" fxLayout="row wrap" fxFlex="90" fxLayoutGap=30px>
<div  *ngFor="let note of notes">
    <mat-card class="matcard2">
            <form >

        <div class="notearea"  (click)="onUpdate(note)">
        <div>
           {{note.title}}            
        </div> 
        <br>

        <div>
           {{note.description}}
         </div>                
            </div>

            <div class=appicons>
               <app-icon [noteInfo]=note></app-icon>
                </div>
    </form>
    </mat-card>
    </div>