.set {
    margin-left: 430px;
    width: 450px;
    height: 500px;
    margin-top: 190px;
    background-color:darkgray;
  }
  .input{
    margin-left: 50px;
    height: 100px;
    width: 350px;
    margin-top: 20px;
  }
  .titel{
    width: 20px;
    height: 20px;
    margin-left: 30%;
    gap: 20px;
    color-adjust: gray;
    margin-top: 25px;
  }
  .button{
    height: 45px;
    width: 92px;
    margin-left: 160px;
  }
  