<div fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="set">
      <mat-card-title class="titel">
        <h1>Fundoo</h1>
      </mat-card-title>
      <mat-card-subtitle class="titel">
        <h1 style="margin-top: 70px;margin-left: -5px">SetPassword</h1>
      </mat-card-subtitle>
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>Password</mat-label>
          <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
          <input type="password" matInput placeholder="Enter your password" [formControl]="password"
          [(ngModel)]="setpassword.password" [type]="!hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>Password</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="input">
          <mat-label>ConfirmPassword</mat-label>
          <mat-error *ngIf="cpassword.invalid">{{getErrorcPassword()}}</mat-error>
          <input type="password" matInput placeholder="Enter your password" [formControl]="cpassword"
            [type]="!hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint>ConfirmPassword</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button  color="primary" (click)="onlogin()" class="button">Verify</button>
      </div>
    </mat-card>

  </div>
</div>